<app-global-error></app-global-error>

<div class="container max-w-2xl mx-auto pt-7">
  <h1 class="font-bold mb-7 text-center text-xl">{{ title | titlecase }}</h1>

  <input
    [(ngModel)]="term"
    class="w-full mb-5 px-4 py-2 border rounded-md shadow-md"
    type="text"
    placeholder="Search..."
  />

  <p *ngIf="loading" class="text-center text-lg">Loading...</p>

  <div *ngIf="products$ | async as products">
    <app-product
      *ngFor="let product of products | filterProducts: term; let i = index"
      [product]="product"
    >
    </app-product>
  </div>
</div>
